<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div id='app' class="main">
  <!-- Main container -->
    <div class="container">
      <div class='row'>

        <!-- LOWBLOODS -->
        <div class="col-xs hemo">
          <textarea rows='3' v-model=message placeholder="input text here"></textarea>
          <br>
          <br>
          <!-- Inner container -->
          <div class="container">
            <div class="row">
              <div class="col-xs name">
                <p>Xefros</p>
                <p>Diemen</p>
                <p>Fozzer</p>
                <p>Marsti</p>
                <p>Chixie</p>
                <p>Skylla</p>
                <p>Vikare</p>
                <p>Azdaja</p>
                <p>Cirava</p>
                <p>Folykl</p>
                <p>Kuprum</p>
                <p>Zebede</p>
              </div>
              <div class="col-xs textarea">
                <textarea rows='2' v-model=xefros></textarea>
                <br>
                <textarea rows='2' v-model=diemen></textarea>
                <br>
                <textarea rows='2' v-model=fozzer></textarea>
                <br>
                <textarea rows='2' v-model=marsti></textarea>
                <br>
                <textarea rows='2' v-model=chixie></textarea>
                <br>
                <textarea rows='2' v-model=skylla></textarea>
                <br>
                <textarea rows='2' v-model=vikare></textarea>
                <br>
                <textarea rows='2' v-model=azdaja></textarea>
                <br>
                <textarea rows='2' v-model=cirava></textarea>
                <br>
                <textarea rows='2' v-model=folykl></textarea>
                <br>
                <textarea rows='2' v-model=kuprum></textarea>
                <br>
                <textarea rows='2' v-model=zebede></textarea>
              </div>
            </div>
          </div>
        </div>

        <!-- MIDBLOODS -->
        <div class='col-xs hemo'>
          <div class="container">
            <div class="row">
              <div class="col-xs name">
                <p>Boldir</p>
                <p>Charun</p>
                <p>Konyyl</p>
                <p>Polypa</p>
                <p>Wanshi</p>
                <p>Bronya</p>
                <p>Daraya</p>
                <p>Lanque</p>
                <p>Lynera</p>
                <p>Stelsa</p>
                <p>Tagora</p>
                <p>Tegiri</p>
                <p>Tirona</p>
                <p>Tyzias</p>

              </div>
              <div class="col-xs textarea">
                <textarea rows='2' v-model=boldir></textarea>
                <br>
                <textarea rows='2' v-model=charun></textarea>
                <br>
                <textarea rows='2' v-model=konyyl></textarea>
                <br>
                <textarea rows='2' v-model=polypa></textarea>
                <br>
                <textarea rows='2' v-model=wanshi></textarea>
                <br>
                <textarea rows='2' v-model=bronya></textarea>
                <br>
                <textarea rows='2' v-model=daraya></textarea>
                <br>
                <textarea rows='2' v-model=lanque></textarea>
                <br>
                <textarea rows='2' v-model=lynera></textarea>
                <br>
                <textarea rows='2' v-model=stelsa></textarea>
                <br>
                <textarea rows='2' v-model=tagora></textarea>
                <br>
                <textarea rows='2' v-model=tegiri></textarea>
                <br>
                <textarea rows='2' v-model=tirona></textarea>
                <br>
                <textarea rows='2' v-model=tyzias></textarea>
                <br>

                <br>
            </div>
          </div>

          </div>

        </div>

        <!-- HIGHBLOODS -->
        <div class="col-xs hemo">
          <div class="container">
            <div class="row">
              <div class="col-xs name">
                <p>Ardata</p>
                <p>Elwurd</p>
                <p>Mallek</p>
                <p>Remele</p>
                <p>Amisia</p>
                <p>Galekh</p>
                <p>Nikhee</p>
                <p>Zebruh</p>
                <p>Baizli</p>
                <p>Barzum</p>
                <p>Chahut</p>
                <p>Karako</p>
                <p>Marvus</p>
                <p>Trizza</p>
              </div>

              <div class="col-xs textarea">
                <textarea rows='2' v-model=ardata></textarea>
                <br>
                <textarea rows='2' v-model=elwurd></textarea>
                <br>
                <textarea rows='2' v-model=mallek></textarea>
                <br>
                <textarea rows='2' v-model=remele></textarea>
                <br>
                <textarea rows='2' v-model=amisia></textarea>
                <br>
                <textarea rows='2' v-model=galekh></textarea>
                <br>
                <textarea rows='2' v-model=nikhee></textarea>
                <br>
                <textarea rows='2' v-model=zebruh></textarea>
                <br>
                <textarea rows='2' v-model=baizli></textarea>
                <br>
                <textarea rows='2' v-model=barzum></textarea>
                <br>
                <textarea rows='2' v-model=chahut></textarea>
                <br>
                <textarea rows='2' v-model=karako></textarea>
                <br>
                <textarea rows='2' v-model=marvus></textarea>
                <br>
                <textarea rows='2' v-model=trizza></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></script>
  <script src="script.js"></script>
</body>
</html>
