<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body onload="redirect">
  <div id='app' class="main">
  <!-- Main container -->
    <div class="container">
      <div class='row'>

        <!-- LOWBLOODS -->
        <div class="col-xs hemo lowbloods">
          <textarea rows='3' v-model=message placeholder="input text here"></textarea>
          <a href="/mobile">to mobile</a>
          <br>
          <!-- Inner container -->
          <div class="container">
            <div class="row">
              <div class="col-xs name">
                <p>Xefros</p>
                <p>Diemen</p>
                <p>Fozzer</p>
                <p>Marsti</p>
                <p>Chixie</p>
                <p>Skylla</p>
                <p>Vikare</p>
                <p>Azdaja</p>
                <p>Cirava</p>
                <p>Folykl</p>
                <p>Kuprum</p>
                <p>Zebede</p>
              </div>
              <div class="col-xs textarea">
                <textarea rows='2' v-model=xefros class='rust'></textarea>
                <br>
                <textarea rows='2' v-model=diemen class='rust'></textarea>
                <br>
                <textarea rows='2' v-model=fozzer class='rust'></textarea>
                <br>
                <textarea rows='2' v-model=marsti class='rust'></textarea>
                <br>
                <textarea rows='2' v-model=chixie class='bronze'></textarea>
                <br>
                <textarea rows='2' v-model=skylla class='bronze'></textarea>
                <br>
                <textarea rows='2' v-model=vikare class='bronze'></textarea>
                <br>
                <textarea rows='2' v-model=azdaja class='gold'></textarea>
                <br>
                <textarea rows='2' v-model=cirava class='gold'></textarea>
                <br>
                <textarea rows='2' v-model=folykl class='gold'></textarea>
                <br>
                <textarea rows='2' v-model=kuprum class='gold'></textarea>
                <br>
                <textarea rows='2' v-model=zebede class='gold'></textarea>
              </div>
            </div>
          </div>
        </div>

        <!-- MIDBLOODS -->
        <div class='col-xs hemo midbloods'>
          <div class="container">
            <div class="row">
              <div class="col-xs name">
                <p>Boldir</p>
                <p>Charun</p>
                <p>Konyyl</p>
                <p>Polypa</p>
                <p>Wanshi</p>
                <p>Bronya</p>
                <p>Daraya</p>
                <p>Lanque</p>
                <p>Lynera</p>
                <p>Stelsa</p>
                <p>Tagora</p>
                <p>Tegiri</p>
                <p>Tirona</p>
                <p>Tyzias</p>

              </div>
              <div class="col-xs textarea">
                <textarea rows='2' v-model=boldir class='olive'></textarea>
                <br>
                <textarea rows='2' v-model=charun class='olive'></textarea>
                <br>
                <textarea rows='2' v-model=konyyl class='olive'></textarea>
                <br>
                <textarea rows='2' v-model=polypa class='olive'></textarea>
                <br>
                <textarea rows='2' v-model=wanshi class='jade'></textarea>
                <br>
                <textarea rows='2' v-model=bronya class='jade'></textarea>
                <br>
                <textarea rows='2' v-model=daraya class='jade'></textarea>
                <br>
                <textarea rows='2' v-model=lanque class='jade'></textarea>
                <br>
                <textarea rows='2' v-model=lynera class='jade'></textarea>
                <br>
                <textarea rows='2' v-model=stelsa class='teal'></textarea>
                <br>
                <textarea rows='2' v-model=tagora class='teal'></textarea>
                <br>
                <textarea rows='2' v-model=tegiri class='teal'></textarea>
                <br>
                <textarea rows='2' v-model=tirona class='teal'></textarea>
                <br>
                <textarea rows='2' v-model=tyzias class='teal'></textarea>
                <br>

                <br>
            </div>
          </div>

          </div>

        </div>

        <!-- HIGHBLOODS -->
        <div class="col-xs hemo highbloods">
          <div class="container">
            <div class="row">
              <div class="col-xs name">
                <p>Ardata</p>
                <p>Elwurd</p>
                <p>Mallek</p>
                <p>Remele</p>
                <p>Amisia</p>
                <p>Galekh</p>
                <p>Nikhee</p>
                <p>Zebruh</p>
                <p>Baizli</p>
                <p>Barzum</p>
                <p>Chahut</p>
                <p>Karako</p>
                <p>Marvus</p>
                <p>Trizza</p>
              </div>

              <div class="col-xs textarea">
                <textarea rows='2' v-model=ardata class='cerulean'></textarea>
                <br>
                <textarea rows='2' v-model=elwurd class='cerulean'></textarea>
                <br>
                <textarea rows='2' v-model=mallek class='cerulean'></textarea>
                <br>
                <textarea rows='2' v-model=remele class='cerulean'></textarea>
                <br>
                <textarea rows='2' v-model=amisia class='indigo'></textarea>
                <br>
                <textarea rows='2' v-model=galekh class='indigo'></textarea>
                <br>
                <textarea rows='2' v-model=nikhee class='indigo'></textarea>
                <br>
                <textarea rows='2' v-model=zebruh class='indigo'></textarea>
                <br>
                <textarea rows='2' v-model=baizli class='purple'></textarea>
                <br>
                <textarea rows='2' v-model=barzum class='purple'></textarea>
                <br>
                <textarea rows='2' v-model=chahut class='purple'></textarea>
                <br>
                <textarea rows='2' v-model=karako class='purple'></textarea>
                <br>
                <textarea rows='2' v-model=marvus class='purple'></textarea>
                <br>
                <textarea rows='2' v-model=trizza class='fuschia'></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></script>
  <script src="conversion.js"></script>
  <script src="script.js"></script>
</body>
</html>
