<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="mobile.css">
</head>
<body class="app-view" onload="mobileCheck">
  <header>
    <h4>hiveswap quirk converter</h4>
  </header>

  <div id='app'>
    <div>
      only show...
    </div>
    <textarea rows='3' v-model=message placeholder="input text here"></textarea>

    <div class='troll'>
      <textarea rows='2' v-model=xefros class='rust'></textarea>

    </div>




    <div class='troll'>
      <textarea rows='2' v-model=diemen class='rust'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=fozzer class='rust'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=marsti class='rust'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=chixie class='bronze'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=skylla class='bronze'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=vikare class='bronze'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=azdaja class='gold'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=cirava class='gold'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=folykl class='gold'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=kuprum class='gold'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=zebede class='gold'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=boldir class='olive'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=charun class='olive'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=konyyl class='olive'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=polypa class='olive'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=wanshi class='jade'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=bronya class='jade'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=daraya class='jade'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=lanque class='jade'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=lynera class='jade'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=stelsa class='teal'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=tagora class='teal'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=tegiri class='teal'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=tirona class='teal'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=tyzias class='teal'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=ardata class='cerulean'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=elwurd class='cerulean'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=mallek class='cerulean'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=remele class='cerulean'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=amisia class='indigo'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=galekh class='indigo'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=nikhee class='indigo'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=zebruh class='indigo'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=baizli class='purple'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=barzum class='purple'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=chahut class='purple'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=karako class='purple'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=marvus class='purple'></textarea>
    </div>
    <div class='troll'>
      <textarea rows='2' v-model=trizza class='fuschia'></textarea>
    </div>




  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></script>
  <script src="conversion.js"></script>
  <script src="script.js"></script>
</body>
</html>
