body{
  font-size: 0.8em;
}

p{
  margin-bottom: 30px;
}
.hemo{
  width: 33%
}

.container{
  width: 100%;
  padding: 0px;
}

.main{
  margin: 0px 50px;
}

.name{
  width: 20%;
}

.textarea{
  width: 80%;
}

textarea{
  width: 60%
}
